---
import { NAV_ITEMS } from "@/utils/constants";
---

<header
  class="flex justify-center items-center py-6 w-full xl:w-[1120px] mx-auto"
>
  <nav class="flex flex-row gap-x-10 opacity-80">
    {
      NAV_ITEMS.map((link) => (
        <a aria-label={link.label} href={link.url}>
          {link.title}
        </a>
      ))
    }
  </nav>
</header>
